[Users]
RememberLastSession={{ (sddm_remember_last_session | default(false)) | ternary("true", "false") }}
DefaultSession={{ sddm_default_session | default(sddm_autologin_session | default("plasma.desktop")) }}
